
*{
	margin: 0px;
	padding: 0px;
}

header{
  box-shadow: 0 50px 50px #999;
}

body{
	text-align: center;
}

h1{
	font-weight: bold;
	font-size: 50px;
	padding-left: 50px;
	font-family: mardi_gras;
}
@@font-face {
	font-family: "mardi_gras";
	src: url(../fonts/Mardi Gras Personal Use.ttf) format("truetype");
	text-shadow: 1px 1px;
}
.container{
	box-shadow: 0 10px 100px #F39C12;
}

.botonesCabecera{
  text-align: right;
  padding-top: 20px;
}
.msnExito, .msnError {
  font-weight: bold;
  color : green ;
}
.msnError{
  color: red;
}
#pie{
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
}
.admin{
  margin-top: 40px;
}
#bot{
  text-align: right;
  padding-top: 0px;
}

.centrado{
	margin:10px auto;
	display:block;
    }
.agrupar {
	display: inline-block;
	width: 960px;
	margin: 15px auto;
	text-align: left;
}


.columna-izq{
	text-align: left;
}

.columna-der{
	text-align: right;
}

/*btn-inicio{
	display: inline;
	width: 170px;
	margin: 15px auto;
	padding: 15px;
	text-align: center;
	background: #003399;
	-moz-border-radius:30px/30px;
	-webkit-border-radius:30px/30px;
	border-radius: 30px/30px;
	border-color: inherit;
	color: #FFFFFF;
	background: -webkit-linear-gradient(top,#FFFFFF,#003399);
	background: -moz-linear-gradient(top,#FFFFFF,#003399);
}

.btn-registrarme{
	display: inline;
	width: 170px;
	margin: 15px auto;
	padding: 15px;
	text-align: center;
	background: #FF6600;
	-moz-border-radius:30px/30px;
	-webkit-border-radius:30px/30px;
	border-radius: 30px/30px;
	border-color: inherit;
	color: #FFFFFF;
	background: -webkit-linear-gradient(top,#FFFFFF,#FF6600);
	background: -moz-linear-gradient(top,#FFFFFF,#FF6600);
}*/
#menu {
	display: block;
	width: 1330px;
	margin: 15px auto;
	padding: 8px 15px;
	text-align: left;
	background: #FF6600;
	border-radius:  20px;
	-moz-border-radius:10px/30px/30px;
	-webkit-border-radius:30px/30px/30px;
	border-radius: 20px/20px;
	background: -webkit-linear-gradient(top,#F39C12  ,#FCF3CF);
	background: -moz-linear-gradient(top,#F39C12,#FCF3CF);
	border-radius:  20px;
	-moz-box-shadow: rgb(150,150,150)5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150)5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(center,circle,#D35400 30% ,#FAD7A0 150% );
	background: -moz-radial-gradient(center,circle,#D35400 10%,#FAD7A0 200%);
}

#menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	color: #000000;font: bold 14px verdana, sans-serif;
}
.seccion{
	display: inline;
	float: left;
	width: 350px;
	margin: 10px;
	background: green;
}
.fila{
	display: block;
	width: 1600px;
}

article{
	padding: 20px;
	margin-bottom: 15px;
}
#listado {
	background: #76D7C4;
}
#cuadro{
	background: #21618C;
	display: block;
	width: 307px;
	/*width: 418px;*/
	margin: 15px ;
	padding: 8px 15px;
	text-align: left;
	-moz-border-radius:10px/30px/30px;
	-webkit-border-radius:30px/30px/30px;
	border-radius:  20px;
	-moz-box-shadow: rgb(150,150,150)5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150)5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(top,circle, #58d68d  10% , #3498db  250% );
	background: -moz-radial-gradient(top,circle,#58d68d 30%, #3498db 100%);
}


#columna{
	background: #F5B041;
	float: left;
	width: 220px;
	margin: 25px 25px;
	padding: 10px;
	border-radius: 30px/30px;
	-moz-border-radius:10px/30px/30px;
	-webkit-border-radius:30px/30px/30px;
	border-radius:  20px;
	-moz-box-shadow: rgb(150,150,150)5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150)5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(top,circle,#F5B041 20% ,#FCF3CF 150% );
	background: -moz-radial-gradient(top,circle,#F5B041 50%,#FCF3CF 200%);

}
#usuario{
	/*background: #F5B041;*/
	border-radius: 30px/30px;
  text-align: left;
	-moz-border-radius:10px/30px/30px;
	-webkit-border-radius:30px/30px/30px;
	border-radius:  20px;
	-moz-box-shadow: rgb(150,150,150)5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150)5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(center,circle,   #58d68d  30% , #3498db  100%  );
	background: -moz-radial-gradient(center,circle,  #58d68d 10%, #3498db 150%);
}
